section{
    margin-bottom: 10px;
}
.c_p{
    left: 85%;
}
.c_r{
    right: 0;
}
.c_p, .c_r{
    top: 80%;
    width: 10%;
}
.custom-indicator button{
    display: block;
    left: 60%;
    right: 0%;
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
}
.custom-indicator button:hover{
    background-color: #696969;
}
.custom-indicator {
    display: block;
    margin-left: 5%;
    bottom: 40%;
}
.banner{
    background-image: url(../images/Cox1.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}
.slider{
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 85px;
}
.slider h1{
    font-size: 30px;
    margin: 0 0 30px;
}
.slider p{
    font-size: 20px;
    margin: 0 0 50px;
}
.slider button{
    margin-bottom: 100px;
}
.indic_2 button{
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
}
.lnk{
    background-color: #696969;
}
.lnk a, .f_a{
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    transition: .3s;
}
.f_a:hover{
    color: yellow;
}
.c_t{
    padding: 10px;
    color: white;
}
.c_t_rng{
    font-size: 20px;
}